@import "tailwindcss";

@theme {
  --background: #01151A;
  --prim: #6DCFF5;
  --white: #dfdfdf;
  --white-icon: #f3f3f398;
}

* {
  font-family:
    "Kanit",
    -apple-system,
    system-ui,
    sans-serif;
}

*::selection {
  background-color: var(--prim);
  color: var(--background);
}

/* Chrome, Safari y Opera */
::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}