---
import TronLogo from "../../public/TRON.png";
import { Image } from "astro:assets";
---

<section id="home" class="relative z-10 h-screen">
  <div
    class="relative z-10 flex flex-col items-center h-full pt-8"
  >
    <Image
      src={TronLogo}
      alt="Tron Legacy Logo"
      class="w-44"
      loading="lazy"
      decoding="async"
    />
  </div>
  <video
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    class="absolute inset-0 w-full h-full object-cover z-0 opacity-75"
  >
    <source src="https://res.cloudinary.com/duzidxl2j/video/upload/v1744234212/TronLegacyVid_compressed_wmy0ow.mp4" type="video/mp4" />
  </video>

  <div
    class="absolute bottom-0 left-0 w-full h-32 z-10 pointer-events-none bg-gradient-to-t from-[var(--background)] to-transparent"
  >
  </div>
</section>
